version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: krapter_redis
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - krapter_net
    volumes:
      - redis_data:/data

networks:
  krapter_net:
    driver: bridge

volumes:
  redis_data:
