name: Deploy Full Stack App

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Shutdown Old Containers
      run: |
        # Purane containers (App + DB + Redis) ko band karo
        docker compose down || true

    - name: Start New Setup
      run: |
        # Pura system (App, DB, Redis) ek sath start karo
        # -d ka matlab background me chalao
        # --build ka matlab naya code aane par rebuild karo
        docker compose up -d --build

    - name: Cleanup Space
      run: |
        docker image prune -f